node_modules
**/node_modules
npm-debug.log
*.log
.git
.gitignore
Dockerfile
.dockerignore
README.md
.env
.env.local
.env.production
backend/dist
backend/data
backend/logs
backend/uploads/*
!backend/uploads/.gitkeep
frontend/dist